In [2]:
import pandas as pd
df = pd.read_csv('../data/monthly_totals.csv')
df

   Year  Jan   Feb   Mar  Apr   May  June  July   Aug  Sept   Oct   Nov   Dec
0  2012  486   485   405  453   513   502   672   623   725   887   636   593
1  2013  531   568   458  509   563   599   571   619   556   541   557   508
2  2014  569   568   634  585   597   662   679   630   614   644   538   555
3  2015  685   744   717  695   629   720   810   657   581   677   765   884
4  2016  672   811   842  843  1148  1156  1162  1386  1140  1130  1170  1415
5  2017  882  1027  1105  875   892  1156  1100  1335  1275  1091   941  1012

In [18]:
t = df.set_index('Year').stack().reset_index()
t.columns = ['year','month','count']
t['date'] = pd.to_datetime(t.apply(lambda r: f"1 {r.month} {r.year}", axis=1))
t[['date','count']].to_csv('../data/monthly_totals.csv')

In [33]:
import pandas as pd
df = pd.read_csv('../data/neighborhood_totals.csv')
df.columns = [e.lower() for e in df.columns]

df['date'] = pd.to_datetime(df.apply(lambda r: f"1 {r.month} {r.year}", axis=1))
df = df.drop(columns=['year','month'])
cols = [list(df.columns)[-1]] + list(df.columns)[:-1]
df = df[cols]
df.to_csv('../data/neighborhood_totals.csv')